<!DOCTYPE html>
<html>
    <head>
        <title>Angular JS Example</title>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    </head>
    <body>
        <p>Try to change the names.</p>
        <div ng-app="" ng-controller="personController">
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br />
            Full Name: {{firstName + " " + lastName}}
        </div>
        <script type="text/javascript">
            function personController($scope) {
                $scope.firstName = "John";
                $scope.lastName = "Doe";
            }
        </script>
    </body>
</html>
